<a href="https://colab.research.google.com/github/SCHOLTTERBACK/About-Youuu/blob/main/Salinan_dari_Acara_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
data_1 = 10
data_2 = 0.1
data_3 = 'HELLO WORLD'
data_4 = True
data_5 = ['xyz','123']
data_6 = ('xyz', 321)

print(data_1)
print(data_2)
print(data_3)
print(data_4)
print(data_5[1])
print(data_6[1])

10
0.1
HELLO WORLD
True
123
321

In [ ]:
print('tipe data:', type(data_1))
print('tipe data:', type(data_2))
print('tipe data:', type(data_3))
print('tipe data:', type(data_4))
print('tipe data:', type(data_5))
print('tipe data:', type(data_6))

tipe data: <class 'int'>
tipe data: <class 'float'>
tipe data: <class 'str'>
tipe data: <class 'bool'>
tipe data: <class 'list'>
tipe data: <class 'tuple'>

In [ ]:
penjumblahan = 1+2
pengurangan = 1-2
perkalian = 1*2
pembagian = 1/2
modulus = 1%2
pangkat = 1**2
pembagian_bulat = 1//2

print(penjumblahan)
print(pengurangan)
print(perkalian)
print(pembagian)
print(modulus)
print(pangkat)
print(pembagian_bulat)

3
-1
2
0.5
1
1
0

In [ ]:
import math
print(math.pi)
print('tipe data:', type(math.e))

jari_jari = 21.5
luas = math.pi * (jari_jari ** 2)
print(luas)

3.141592653589793
tipe data: <class 'float'>
1452.2012041218818

In [ ]:
print("luas dari keset yang andi beli adalah", luas, "cm**2")

luas dari keset yang andi beli adalah 1452.2012041218818 cm**2

In [ ]:
print(f'luas dari keset yang andi beli adalah {luas:.2f} cm**2')

luas dari keset yang andi beli adalah 1452.20 cm**2

In [ ]:
print(f'luas dari keset yang andi beli adalah {luas} cm**2')

luas dari keset yang andi beli adalah 1452.2012041218818 cm**2